<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              <h1 class="h1-seo">Find Guides.</h1>
              <h3>Choose mentors to advance your career.</h3>
          </div>
      </div>
  </div>

  <div class="main">

    <!-- For adding some screenshots of the website
    <div class="section section-images">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container">
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                    <div class="hero-images-container-1">
                        <img src="assets/img/hero-image-2.png" alt="">
                    </div>
                    <div class="hero-images-container-2">
                        <img src="assets/img/hero-image-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-->
      <div class="section section-tabs">
          <div class="container">
              <div class="row">
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Testimonials</p>
                      <!-- Nav tabs -->

                      <div class="card">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center">
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons objects_umbrella-13"></i> Home
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons shopping_cart-simple"></i> Profile
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                          <i class="now-ui-icons shopping_shop"></i> Messages
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                            <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                        </ng-template>
                                    </ngb-tab>
                                    <ngb-tab>
                                      <ng-template ngbTabTitle>
                                        <i class="now-ui-icons ui-2_settings-90"></i> Settings
                                      </ng-template>
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                      <p class="category">Testimonials</p>
                      <!-- Tabs with Background on Card -->
                      <div class="card">
                        <div class="nav-tabs-navigation" data-tabs-color="orange">
                            <div class="nav-tabs-wrapper">
                                <ngb-tabset [justify]="'center'" class="text-center" >
                                    <ngb-tab title="Home">
                                      <ng-template ngbTabContent>
                                        <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Profile">
                                      <ng-template ngbTabContent>
                                          <p> I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. </p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Messages">
                                      <ng-template ngbTabContent>
                                          <p>I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be pushing the furthest possibilities. I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus.</p>
                                      </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Settings">
                                        <ng-template ngbTabContent>
                                          <p>
                                              "I will be the leader of a company that ends up being worth billions of dollars, because I got the answers. I understand culture. I am the nucleus. I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at."
                                          </p>
                                        </ng-template>
                                    </ngb-tab>
                                </ngb-tabset>
                            </div>
                        </div>
                      </div>
                      <!-- End Tabs on plain Card -->
                  </div>
              </div>
          </div>
      </div>
      

      <div class="section section-download" id="#download-section" data-background-color="black">
          <div class="container">
              <div class="row justify-content-md-center">
                  <div class="text-center col-md-12 col-lg-8">
                      <h3 class="title">Thousnads of experts available</h3>
                      <h5 class="description">Search any mentor to get started</h5>
                  </div>
                  <!--
                  <div class="text-center col-md-12 col-lg-8">
                      <a href="https://www.creative-tim.com/product/now-ui-kit-angular" class="btn btn-primary btn-lg btn-round" role="button">
                          Download Angular
                      </a>
                      <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                          Download PSD/Sketch
                      </a>
                  </div>
                  -->
              </div>
              <br>
              <br>
              <br>
              
              <div class="row justify-content-md-center sharing-area text-center">
                <div class="text-center col-md-12 col-lg-8">
                  <h3>Thank you for supporting us!</h3>
                </div>
                <div class="text-center col-md-12 col-lg-8">
                  <a target="_blank" href="https://www.twitter.com/creativetim" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://www.linkedin.com/company-beta/9430489/" class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                    <i class="fab fa-linkedin"></i>
                  </a>
                  <a target="_blank" href="https://github.com/creativetimofficial/now-ui-kit-angular" class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Star on Github">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>

</div>
